[env]
TERM = "screen-256color"

[window]
decorations = "None"
startup_mode = "Fullscreen"

[font]
size = 12.0

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[general]
import = ["~/.config/alacritty/catppuccin-macchiato.toml"]
